In [1]:
# importing the libraries
import pandas as pd

In [2]:
# loading the original dataset
df = pd.read_csv("megafon.csv")
df.head()

,user_id,Q1,Q2,Total Traffic(MB),Downlink Throughput(Kbps),Uplink Throughput(Kbps),Downlink TCP Retransmission Rate(%),Video Streaming Download Throughput(Kbps),Video Streaming xKB Start Delay(ms),Web Page Download Throughput(Kbps),Web Average TCP RTT(ms)
0,1,5,NaN,775.48846,360.13,86.56,3.93,1859.15,2309,1007.82,83
1,2,5,4,861.96324,3023.54,411.18,1.27,667.47,2080,255.36,425
2,3,1,4,261.11860,790.96,34.20,1.79,1079.60,6367,535.85,485
3,4,8,3,179.18564,2590.97,325.88,0.80,7053.81,3218,1221.02,51
4,5,2,"2, 3, 4",351.99208,731.61,223.54,1.15,4550.38,1767,2336.56,68

In [3]:
cols = ["id", "q1", "q2", "total_traffic", "downlink_throughput", "uplink_throughput",
        "retransmission_rate", "video_streaming_throughput", "video_delay",
        "webpage_download_throughput", "web_average_rtt"]
df.columns = cols

In [4]:
df.dtypes

id                               int64
q1                              object
q2                              object
total_traffic                  float64
downlink_throughput            float64
uplink_throughput              float64
retransmission_rate            float64
video_streaming_throughput     float64
video_delay                      int64
webpage_download_throughput    float64
web_average_rtt                  int64
dtype: object

In [5]:
# identifying invalid responses to the first question
to_delete = []
for i, response in enumerate(df["q1"]):
    try:
        if len(response) > 2:
            print(response)
            to_delete.append(i)
    except:
        print(response)
        to_delete.append(i)

2, 9
1, 3
nan
1, 6
***** ** ***
3 - дер.Ширяево Волоколамского района, 9 - в Москве
10, 9
Чем даль ше,тем лучше.Спасибо за ваш труд.Оценка 10 !
ОЦЕНКА-3/НЕВАЖНО/
Отвратительно
1, 3
Я ценой услуг не удовлетворен
Пока не понял
3, 9
5, 6
0, 1, 5
5, 7
4. Тульская область Заокский район. Романовские дачи связи почти нет
Немагу дать атценку денги незашто снимаеть скоро выклучаю
10, 50
Очень  хорошо. Обслуживания  я довольно. Спасибо вам.555
Поохое
Когда в Москве-10 а когда в калужской области в деревне Бели-1
Нет
Нет
Ужасно
3 тройка, связь отвратительная, жалко платить за такой тарив
5, 6
Чдтчдтччдтччч
3, 7
20, 89031081392
1, 8
Без з
10, 5
2, 5
nan
Я в Смол. Области живу сейчас, не пользуюсь телефоном совсем

In [6]:
print(to_delete[:5])

[80, 238, 371, 459, 491]

In [7]:
len(df)

3112

In [8]:
# removing the invalid responses to the first question found above
df.drop(to_delete, axis=0, inplace=True)
df.reset_index(inplace=True)

In [9]:
len(df)

3075

In [10]:
nums = list(range(1, 11))
nums = [str(i) for i in nums]
nums

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [11]:
# checking whether there are any other irrelevant responses left
to_delete = []
for i, response in enumerate(df["q1"]):
    if response not in nums:
        print(response)
        to_delete.append(i)

11
0
0
19
15
0
0
0
0
0
0
Hi
?
0
Да
Да
0

In [12]:
len(df)

3075

In [13]:
# dropping the remaining invalid responses
df.drop(to_delete, axis=0, inplace=True)

In [14]:
len(df)

3058

In [15]:
df.head()

,index,id,q1,q2,total_traffic,downlink_throughput,uplink_throughput,retransmission_rate,video_streaming_throughput,video_delay,webpage_download_throughput,web_average_rtt
0,0,1,5,NaN,775.48846,360.13,86.56,3.93,1859.15,2309,1007.82,83
1,1,2,5,4,861.96324,3023.54,411.18,1.27,667.47,2080,255.36,425
2,2,3,1,4,261.11860,790.96,34.20,1.79,1079.60,6367,535.85,485
3,3,4,8,3,179.18564,2590.97,325.88,0.80,7053.81,3218,1221.02,51
4,4,5,2,"2, 3, 4",351.99208,731.61,223.54,1.15,4550.38,1767,2336.56,68

In [16]:
# preprocessing the Q2 responses
items = []
for i, item in enumerate(df["q2"]):
    try:
        items.append(item.split())
    except:
        items.append(None)

In [17]:
for i, item in enumerate(items):
    if item != None:
        new_list = []
        for sub_item in item:
            res = sub_item.replace(",", "")
            if res not in nums[:7]:
                continue
            else:
                new_list.append(res)
        if len(new_list) > 0:
            items[i] = ",".join(new_list)
        else:
            items[i] = None

In [18]:
items[:5]

[None, '4', '4', '3', '2,3,4']

In [23]:
df["q2"] = items
df.head()

,index,id,q1,q2,total_traffic,downlink_throughput,uplink_throughput,retransmission_rate,video_streaming_throughput,video_delay,webpage_download_throughput,web_average_rtt
0,0,1,5,None,775.48846,360.13,86.56,3.93,1859.15,2309,1007.82,83
1,1,2,5,4,861.96324,3023.54,411.18,1.27,667.47,2080,255.36,425
2,2,3,1,4,261.11860,790.96,34.20,1.79,1079.60,6367,535.85,485
3,3,4,8,3,179.18564,2590.97,325.88,0.80,7053.81,3218,1221.02,51
4,4,5,2,"2,3,4",351.99208,731.61,223.54,1.15,4550.38,1767,2336.56,68

In [24]:
del df["index"]
df.head()

,id,q1,q2,total_traffic,downlink_throughput,uplink_throughput,retransmission_rate,video_streaming_throughput,video_delay,webpage_download_throughput,web_average_rtt
0,1,5,None,775.48846,360.13,86.56,3.93,1859.15,2309,1007.82,83
1,2,5,4,861.96324,3023.54,411.18,1.27,667.47,2080,255.36,425
2,3,1,4,261.11860,790.96,34.20,1.79,1079.60,6367,535.85,485
3,4,8,3,179.18564,2590.97,325.88,0.80,7053.81,3218,1221.02,51
4,5,2,"2,3,4",351.99208,731.61,223.54,1.15,4550.38,1767,2336.56,68

In [25]:
# saving the preprocessed .csv file
df.to_csv("megafon_clean.csv", index=False, sep=";")